<!doctype html>
<html lang="zh-CN">
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>修改友情链接 - 个人博客管理系统</title>
<link rel="stylesheet" type="text/css" href="__STATIC__/admin/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="__STATIC__/admin/css/style.css">
<link rel="stylesheet" type="text/css" href="__STATIC__/admin/css/font-awesome.min.css">
<link rel="apple-touch-icon-precomposed" href="__STATIC__/admin/images/icon/icon.png">
<link rel="shortcut icon" href="__STATIC__/admin/images/icon/favicon.ico">
<script src="__STATIC__/admin/js/jquery-2.1.4.min.js"></script>
</head>
{include file='public/header'}
<body class="user-select">
<section class="container-fluid">
 <!-- left -->
<div class="row">
    <aside class="col-sm-3 col-md-2 col-lg-2 sidebar">
      <ul class="nav nav-sidebar">
        <li><a href="{:url('index/index')}">报告</a></li>
      </ul>
      <ul class="nav nav-sidebar">
      <li><a href="{:url('diary/diaryshow')}">日志</a></li>
        <li><a href="{:url('article/index')}">文章</a></li>
        <li><a href="{:url('comment/index')}">评论</a></li>
        <li><a href="{:url('message/msg')}">留言</a></li>
      </ul>
      <ul class="nav nav-sidebar">
        <li><a href="{:url('column/index')}">栏目</a></li>
        <li class="active"><a class="dropdown-toggle" id="otherMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">其他</a>
          <ul class="dropdown-menu" aria-labelledby="otherMenu">
            <li><a href="{:url('others/index')}">友情链接</a></li>
            <li><a href="{:url('others/loginlog')}">访问记录</a></li>           
          </ul>
        </li>
      </ul>
      <ul class="nav nav-sidebar">
        <li><a class="dropdown-toggle" id="userMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">用户</a>
          <ul class="dropdown-menu" aria-labelledby="userMenu">
          <li><a href="{:url('user/detail')}">用户详情</a></li>
            <li><a href="{:url('user/index')}">管理用户</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="{:url('others/loginlog')}">管理登录日志</a></li>
          </ul>
        </li>
        <li><a class="dropdown-toggle" id="settingMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">设置</a>
          <ul class="dropdown-menu" aria-labelledby="settingMenu">
            <li><a href="{:url('config/setting')}">基本设置</a></li>
            <li role="separator" class="divider"></li>
            <li class="disabled"><a>扩展菜单</a></li>
          </ul>
        </li>
      </ul>
    </aside>
<!-- left -->    
<!-- 友情链接修改 -->  
  <div class="col-sm-9 col-sm-offset-3 col-md-10 col-lg-10 col-md-offset-2 main" id="main">
      <div class="row">
        <form action="{:url('others/usave')}" method="post" class="add-flink-form" autocomplete="off" draggable="false">
          <input type="hidden" name="id" value="{$fr->id}"/>
          <div class="col-md-9">
            <h1 class="page-header">修改友情链接</h1>
            <div class="add-article-box">
              <h2 class="add-article-box-title"><span>名称</span></h2>
              <div class="add-article-box-content">
                <input type="text" id="flink-name" name="name" class="form-control" value="{$fr->name}" placeholder="在此处输入名称" required autofocus autocomplete="off">
                <span class="prompt-text">例如：异清轩技术博客</span> </div>
            </div>
            <div class="add-article-box">
              <h2 class="add-article-box-title"><span>WEB地址</span></h2>
              <div class="add-article-box-content">
                <input type="text" id="flink-url" name="url" class="form-control" value="{$fr->url}" placeholder="在此处输入URL地址" required autocomplete="off">
                <span class="prompt-text">例子：<code>http://www.baidu.com/</code>——不要忘了<code>http://</code></span> </div>
            </div>          
            <div class="add-article-box">
              <h2 class="add-article-box-title"><span>描述</span></h2>
              <div class="add-article-box-content">
                <textarea class="form-control" name="describe" autocomplete="off">{$fr->describe}</textarea>
                <span class="prompt-text">描述是可选的手工创建的内容总结</span> </div>
            </div>
          </div>
          <div class="col-md-3">
            <h1 class="page-header">操作</h1>
            <div class="add-article-box">
              <h2 class="add-article-box-title"><span>保存</span></h2>
              <div class="add-article-box-content">
                <p>
                  <label>状态：</label>
                  <span class="article-status-display">已增加</span></p>             
                <p>
                  <label>修改于：</label>
                  <span class="article-time-display">
                  <input style="border: none;" type="datetime" name="uptime" value="{$uptime|date='Y-m-d H:i:s',###}" />
                  </span></p>
              </div>
              <div class="add-article-box-footer">
                <button class="btn btn-primary" type="submit">更新</button>
              </div>
            </div>
          </div>
         
        </form>
      </div>
    </div>
  </div>

</section>
<!--个人信息模态框-->
<div class="modal fade" id="seeUserInfo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <form action="" method="post">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" >个人信息</h4>
        </div>
        <div class="modal-body">
          <table class="table" style="margin-bottom:0px;">
            <thead>
              <tr> </tr>
            </thead>
            <tbody>
              <tr>
                <td wdith="20%">姓名:</td>
                <td width="80%"><input type="text" value="王雨" class="form-control" name="truename" maxlength="10" autocomplete="off" /></td>
              </tr>
              <tr>
                <td wdith="20%">用户名:</td>
                <td width="80%"><input type="text" value="admin" class="form-control" name="username" maxlength="10" autocomplete="off" /></td>
              </tr>
              <tr>
                <td wdith="20%">电话:</td>
                <td width="80%"><input type="text" value="18538078281" class="form-control" name="usertel" maxlength="13" autocomplete="off" /></td>
              </tr>
              <tr>
                <td wdith="20%">旧密码:</td>
                <td width="80%"><input type="password" class="form-control" name="old_password" maxlength="18" autocomplete="off" /></td>
              </tr>
              <tr>
                <td wdith="20%">新密码:</td>
                <td width="80%"><input type="password" class="form-control" name="password" maxlength="18" autocomplete="off" /></td>
              </tr>
              <tr>
                <td wdith="20%">确认密码:</td>
                <td width="80%"><input type="password" class="form-control" name="new_password" maxlength="18" autocomplete="off" /></td>
              </tr>
            </tbody>
            <tfoot>
              <tr></tr>
            </tfoot>
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
          <button type="submit" class="btn btn-primary">提交</button>
        </div>
      </div>
    </form>
  
        
    </div>
  </div>
</section>
<script src="__STATIC__/admin/js/bootstrap.min.js"></script> 
<script src="__STATIC__/admin/js/admin-scripts.js"></script> 